In [2]:
import pandas as pd
import numpy as np

In [3]:
all_df = pd.read_csv("./merged_fix_df.csv")

In [26]:
def create_category_product_trend_df(df):
    category_product_trend_df = df.groupby('product_category_name_english').size().reset_index(name='total')
    category_product_trend_df.rename(columns={'product_category_name_english': 'product_category_name'}, inplace=True)
    
    return category_product_trend_df

In [27]:
category_product_trend_df = create_category_product_trend_df(all_df)
category_product_trend_df.head()

        product_category_name  total
0  agro_industry_and_commerce    212
1            air_conditioning    297
2                         art    209
3       arts_and_craftmanship     24
4                       audio    364

In [20]:
category_product_trend_df[('product_category_name', 'total')]

0      212
1      297
2      209
3       24
4      364
      ...
66    2517
67      83
68    4545
69    4117
70    5991
Name: (product_category_name, total), Length: 71, dtype: int64